*, *::before, *::after {
    box-sizing: border-box;
    margin-top: 0;
}

body {

    font-family:'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10%;
}
/* attribute selector ; select all classes with card (only one whole word) */
 [class |= card] {
    border: solid 3px Gainsboro;
    border-radius: 15px;
    margin: 20px;
    width: 600px;
}
.ID {
    margin: 30px;
}
.Request {
    margin: 30px;
    color: rgb(40, 42, 34);
    font-size: 1.7em;
    line-height: 1.3em;
}
.btn {
    display: flex;
    border-top: solid 2px Gainsboro;
}
.photo {
    float: right;
}
.Button {
    width: 50%;
    margin: 20px 30px;
    margin-right: 0px;
    border: solid 3px Lightgreen;
    border-radius: 10px 0px 0px 10px;
    padding: auto;
    color: Lightgreen;
    text-align: center;
}
/* all descendents (afstamelingen) from class id with name h2 */
.ID h1 {
    font-size: 2.2em;
    font-weight:bolder ;
}
.ID h2 {
    color: darkgray;
    font-size: 1.7em;
}
.Button h3 {
    margin: 20px;
}
/* adjacent sibling only button that comes after another sibling button */
.Button + .Button {
    border-color: red;
    border-radius: 0px 10px 10px 0px;
    margin-right: 30px;
    margin-left: 0px;
    color: red;
}
